body {
    padding-top: 20px;
    background: url('../assets/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* form styling */

#form-container {
    background: #2f2f2f;
    border-radius: 5px;
    padding: 10px;
    display: table;
    margin: 0 auto;
}

#form-container .page-header {
    background: #151515;
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#about-container {
    background: #2f2f2f;
    border-radius: 5px;
    padding: 10px;
    display: table;
    margin: 0 auto;
}

#about-container p {
    word-break: break-all;
}


/* numbered buttons */

#status-buttons {}

#status-buttons a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}


/* Circled number */

#status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


/* active buttons turn light green-blue*/

#status-buttons a.active span {
    background: #00BC8C;
}