<br>
<label>Select the types of agents you would like to have in your sample Twitter simulation using Hashkat ?</label>
<br>
<label><i>The deluxe configuration of Hashkat has seven agent_types pre-configured. </i> </label>
<div class="form-group" ng-app="">
    <ul>
        <li>
            <input id="option1" type="checkbox" value="Standard" ng-model="formData.standardAgent">
            <label for="option1"> Standard </label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option2" type="checkbox" value="Celebrity" ng-model="formData.celebrityAgent">
            <label for="option2"> Celebrity </label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option3" type="checkbox" value="Humorist" ng-model="formData.humoristAgent">
            <label for="option3"> Humorist </label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option4" type="checkbox" value="Ideologue" ng-model="formData.ideologueAgent">
            <label for="option4"> Ideologue </label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option5" type="checkbox" value="Company" ng-model="formData.companyAgent">
            <label for="option5"> Company </label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option6" type="checkbox" value="Government" ng-model="formData.govtAgent">
            <label for="option6"> Government </label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option7" type="checkbox" value="Bot" ng-model="formData.botAgent">
            <label for="option7"> Bot </label>
            <div class="check"></div>
        </li>
    </ul>
</div>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.lastQues" class="btn btn-block btn-info">
        Next Section 
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>