<br>
<div class="form-group" ng-app="">
    <label>What is the maximum number of agents you would like in your sample Twitter simulation using Hashkat ?</label>

    <ul>
        <li>
            <input id="option1" type="radio" value="100" ng-model="formData.maxNumberOfAgents">
            <label for="option1"> 100 agents</label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option2" type="radio" value="1000" ng-model="formData.maxNumberOfAgents">
            <label for="option2"> 1000 agents</label>
            <div class="check"></div>
        </li>
        <li>
            <input id="option3" type="radio" value="10000" ng-model="formData.maxNumberOfAgents">
            <label for="option3"> 10000 agents</label>
            <div class="check"></div>
        </li>
    </ul>
  
    
    <div class="form-group" ng-app="">
        <br><br>
        <label>What is the initial number of agents you would like to begin your sample Twitter simulation using Hashkat ?</label>
        <ul>
            <li>
                <input id="optionA" type="radio" value="0" ng-model="formData.initialNumberOfAgents">
                <label for="optionA"> 0 agent</label>
                <div class="check"></div>
            </li>
            <li>
                <input id="optionB" type="radio" value="10" ng-model="formData.initialNumberOfAgents">
                <label for="optionB"> 10 agents</label>
                <div class="check"></div>
            </li>
            <li>
                <input id="optionC" type="radio" value="100" ng-model="formData.initialNumberOfAgents">
                <label for="optionC"> 100 agents</label>
                <div class="check"></div>
            </li>
        </ul>
    </div>
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="form.ques-maxTime" class="btn btn-block btn-info">
        Next Section 
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        </div>
    </div>